.lead__image {
  width: 100%;
  width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1270px) {
  .lead__image {
    max-width: 928px;
    height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 767px;
    max-width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}

