.intro {
  padding-top: 92px;
  color: #fff;
  position: relative;
  right: 147px;
}

@media screen and (max-width: 1270px) {
  .intro {
    right: 119px;
  }
}

@media screen and (max-width: 1010px) {
  .intro {
    padding-top: 88px;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    right: 0;
  }
}

