.cover {
  width: 1184px;
  height: 740px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  object-fit: contain;
}

@media screen and (max-width: 1270px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}