.lead__image-group {
  width: 937px;
  height: 263px;
  padding-top: 90px;
}

@media screen and (max-width: 1270px) {
  .lead__image-group {
    width: 883px;
    height: 248px;
    padding-top: 85px;
  }
}

@media screen and (max-width: 1010px) {
  .lead__image-group {
    width: 731px;
    height: 205px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-group {
    width: 305px;
    height: 86px;
    padding-top: 29px;
  }
}