.cover__title {
  width: 560px;
  height: 152px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 76px;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 4;

}

.cover__title:hover {
  color: #dadada;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 288px;
    height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}